@font-face {
	font-family: fontello;
	src: url('fonts/fontello.eot?92048847');
	src: url('fonts/fontello.eot?92048847#iefix') format('embedded-opentype'),
		url('fonts/fontello.woff?92048847') format('woff'),
		url('fonts/fontello.ttf?92048847') format('truetype'),
		url('fonts/fontello.svg?92048847#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	display: inline-block;
	font-family: fontello;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
}

.icon-git:before { content: '\e801'; }
.icon-github:before { content: '\e800'; }