/**
 * [1]: fixes blurry text on Chrome because of transform...
 */
#notification {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	width: 100%;
	max-width: 400px;
	padding: 5px 40px;
	color: #fff;
	font-size: 16px; /* [1] */
	transform: translateX(-50%);
	transition: transform 300ms;
}

#notification.is-hidden {
	transform: translate(-50%, -200%);
}

#notification a,
#notification a:active
#notification a:visited {
	color: #fff;
}

#notification[data-type=info] {
	background-color: #00B2B2;
}

#notification[data-type=error] {
	background-color: #c82829;
}